/* some CSS fragments are adapted from Twitter Bootstrap. */

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.pair {
  padding-left: 7px;
  margin-left: -7px;
  border: 2px solid transparent;
}
.pair.selected {
  border: 2px solid #2F77F5;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.new_pair {
  padding-left: 7px;
  margin-left: -7px;
  padding-top: 1px;
}
input {
  border: 1px solid #FFF;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  display: inline-block;
  height: 20px;
  padding: 4px 6px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #555;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 0px;
}
input:hover, input:active {
  border: 1px solid #CCC;
  color: #000;
}
.expr:before {
  content: "> ";
}

.expected input, .result input {
  font-size: 16px;
}
.expected {
  position: relative;
  left: -9px;
  top: -5px;
  margin-bottom: -5px;
}
.expected input {
  opacity: 0.0;
}
.expected input:hover, .expected input:focus {
  opacity: 1.0;
}
.pair .result {
  height: 20px;
  margin-bottom: -20px;
}

.different {
  color: #B22400;
}

.examples {
  float: left;
  padding-right: 4px;
  border-right: 1px solid black;
}
.network {
  margin-left: -1px;
  padding-left: 4px;
  border-left: 1px solid black;
  float: left;
}
.network .result {
  text-align: center;
}

/* thanks, cssarrowplease.com */
.arrow_box {
  position: relative;
  background: #88b7d5;
  border: 1px solid #c2e1f5;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 10px 1.5em 10px 1em;
  margin-bottom: 10px;
}
.arrow_box:after, .arrow_box:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.arrow_box:after {
  border-color: rgba(136, 183, 213, 0);
  border-top-color: #88b7d5;
  border-width: 8px;
  left: 50%;
  margin-left: -8px;
}
.arrow_box:before {
  border-color: rgba(194, 225, 245, 0);
  border-top-color: #c2e1f5;
  border-width: 9px;
  left: 50%;
  margin-left: -9px;
}
